* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* join as guest */
.welcome_meetings h1{
  
  margin: 2rem;
  color: rgb(221, 198, 93);
}
.welcome_meetings h2{
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}



